/target/classes/common/GameCalculator$1.class
/target/classes/common/GameCalculator.class
/target/classes/common/Games.class
/target/classes/common/Locators.class
/target/test-classes/MatchStatsTest.class
.idea
